:root {
	--main-color: /*#26292D*/ #111F20;
	--text-color: /*#EBF3FF*/ #D0D0D2;
	--placeholder-color: #5A5D62;
	--contrast-color: /*#2F84FF*/ #589487;
	--dark-shadow-color: /*#191A1D*/ #0b1414;
	--light-shadow-color: /*#2B2D30*/ #152728;
	--dark-shadow-color-hidden: #191A1D00;
	--light-shadow-color-hidden: #2B2D3000;
	--ratio: calc(1vh + 1vw);
}