@import url("../icons/style.css");
@import url("../figures/style.css");
/* @import url("../img/portfolio/style.css"); */
*,*:before,*:after, path, circle{
	transition: background 0.6s ease, box-shadow 0.6s ease, filter 0.6s ease, stroke 0.6s ease;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	letter-spacing: 0.02em;
}
*,*:before,*:after{
	-moz-box-sizing:  border-box;
	-webkit-box-sizing:  border-box;
	box-sizing:  border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: /*'Averta Demo PE',*/'Montserrat', sans-serif;
	font-size: 18px;
	color: #fff;
}

	input, button, textarea{font-family: inherit;}

	input::-ms-clear{display: none;}
	button{cursor: pointer;}
	button::-moz-focus-inner{padding: 0;border: 0;}
	a, a:visited{text-decoration: none;}
	a:hover{text-decoration: none;}
	ul li{list-style: none;}
	img{vertical-align: top;}

	h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}			

	.wrapper {
		min-height: 100%;
		overflow: hidden;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		color: var(--text-color);
		width: 100%;
		background: var(--main-color);
		z-index: 30;
	}
	.big-container{
		width: 100vw;
		height: auto;
		position: relative;
		background: var(--main-color);
		z-index: 2;
		margin-top: 100vh;
	}
	.container{
		padding: 15px 15px 0 15px;
		margin: 0 auto;
		max-width: 1440px;
		display: flex;
		position: relative;
	}

	::-webkit-scrollbar {
		width: 15px;
		background-color: var(--main-color);
		transition: background-color 0.6s ease;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: var(--contrast-color);
		transition: background-color 0.6s ease;
	}
	::-webkit-scrollbar-track {
		box-shadow: inset -3px -3px 6px var(--light-shadow-color), inset 3px 3px 6px var(--dark-shadow-color);
	  }
/*===========================Header==============================*/
header{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1;
	opacity: 1;
	transition: opacity 1s ease;
}
header .container{
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.logo{
	position: absolute;
	animation: logoSwap 2s ease 3s forwards;
}
.logo_shadow{
	stroke-dashoffset: 3000;
	stroke-dasharray: 3000;
	animation: logo 3s ease 0.5s forwards;
	filter: drop-shadow(-13px -13px 18px var(--light-shadow-color)) drop-shadow(18px 18px 18px var(--dark-shadow-color));
}
@keyframes logo{
	0%{
		stroke-dashoffset: 3000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@keyframes logoSwap{
	to{
		transform: translateX(20vw);
		transition: transform 1s ease;
	}
}
.main_block{
	height: 1100px;
	width: 100%;
	background: #fff;
}
nav{
	position: fixed;
	z-index: 50;
	width: 100vw;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 84px;

}
.nav_link{
	max-width: 450px;
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	opacity: 0;
	visibility: hidden;
	animation: nav_animation 2s ease 3s forwards;
}
.nav_active{
	box-shadow: 
	-2px -3px 8px var(--light-shadow-color), 
	4px 4px 7px var(--dark-shadow-color), 
	inset 0px 0px 0px var(--light-shadow-color-hidden), 
	inset 0px 0px 0px var(--dark-shadow-color-hidden);
	background: var(--main-color);
}
@keyframes nav_animation{
	to{
		opacity: 1;
		visibility: visible;
	}
}
.nav_link>div:not(:last-child){
	cursor: pointer;
	color: var(--text-color);
	font-weight: 600;
	display: block;
	position: relative;
	transition: all 0.6s ease;
	overflow: hidden;
	width: fit-content;
	padding: 4px 8px;
	background: var(--main-color);
	box-shadow: 
	-2px -3px 8px var(--light-shadow-color), 
	4px 4px 7px var(--dark-shadow-color), 
	inset 0px 0px 0px var(--light-shadow-color-hidden), 
	inset 0px 0px 0px var(--dark-shadow-color-hidden);
	border-radius: 10px;
	height: 30px;
	line-height: 22px;
}
.nav_link>div:not(:last-child):hover{
	color: var(--contrast-color);
	box-shadow: 
	0px 0px 0px var(--light-shadow-color-hidden), 
	0px 0px 0px var(--dark-shadow-color-hidden), 
	inset -2px -2px 3px var(--light-shadow-color), 
	inset 2px 2px 3px var(--dark-shadow-color);
}
#theme{
	display: flex;
	position: relative;
	width: 67px;
	height: 30px;
	align-items: center;
	background: var(--main-color);
	border-radius: 10px;
	box-shadow: 
	inset -2px -2px 2px var(--light-shadow-color), 
	inset 2px 2px 2px var(--dark-shadow-color);
}
#theme::after{
	content: '';
	margin: 0 auto;
	width: 53px;
	height: 6px;
	background: var(--main-color);
	border-radius: 10px;
	box-shadow: 
	inset -2px -2px 2px var(--light-shadow-color), 
	inset 2px 2px 2px var(--dark-shadow-color);
}
.theme__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 30px;
	left: 0%;
	border-radius: 10px;
	background: var(--main-color);
	box-shadow: 
	inset 3px 3px 4px var(--light-shadow-color), 
	inset -3px -3px 4px var(--dark-shadow-color);
	z-index: 3;
	transition: all 0.6s ease;
	cursor: pointer;
}
.social{
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 61px;
	top: 50%;
	transform: translateY(-50%);
	justify-content: center;
	align-items: center;
	z-index: 3;
}
.social a:not(:last-child){
	margin-bottom: 25px;
}
.social a svg{
	transition: all .5s ease;
	filter: drop-shadow(-2px -2px 2px var(--light-shadow-color)) drop-shadow(2px 2px 2px var(--dark-shadow-color));
}
.header_info{
	position: absolute;
	height: auto;
	left: 56px;
	z-index: 2;
}
.header_info span{
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: var(--contrast-color);
	margin-left: 3px;
}
.header_info span:nth-child(3){
	font-weight: 500;
	color: var(--text-color);
	display: block;
	margin-top: 10px;
	font-size: 20px;
}
.header_info h1{
	font-weight: 700;
	font-size: 64px;
	opacity: 95%;
	text-align: left;
	line-height: 78px;
	color: var(--text-color);
}
.button_header{
	cursor: pointer;
    width: max-content;
    height: 44px;
    padding-right: 25px;
	background:  var(--main-color);
	box-shadow: 
	-4px -5px 14px var(--light-shadow-color), 
	7px 7px 14px var(--dark-shadow-color),
	inset 0px 0px 0px var(--light-shadow-color-hidden), 
	inset 0px 0px 0px var(--dark-shadow-color-hidden);
	border-radius: 15px;
	position: relative;
	top: 46px;
	transition: all 0.6s ease;
	display: flex;
	align-items: center;
}
.header_info .header_info_block{
	opacity: 0;
	animation: nav_animation 2s ease-in-out 4s forwards;
}
.button_header span{
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-left: 15px;
	line-height: 44px;
	color: var(--text-color);
}
.button_header:hover, .button_header:active{
	box-shadow:
	0px 0px 0px var(--light-shadow-color-hidden), 
	0px 0px 0px var(--light-shadow-color-hidden), 
	inset -3px -3px 5px var(--light-shadow-color), 
	inset 3px 3px 5px var(--dark-shadow-color);
}
.button_header:hover .icon_arrow-next{
	transform: translateX(10px);
}
.figures{
	width: 100%;
	height: 100vh;
	position: absolute;
	opacity: 0;
	animation: nav_animation 2s ease 3.5s /*13.5s*/ forwards;
}
.figure{
	position: absolute;
	z-index: 0;
	transition: ease;
}
.figure:nth-child(1){
	top: 10%;
	left: 15%;
	color: var(--contrast-color);
}
.figure:nth-child(2){
	top: 40%;
	left: 60%;
}
.figure:nth-child(3){
	top: 23%;
	left: 90%;
	color: var(--contrast-color);
}
.figure:nth-child(4){
	top: 89%;
	left: 10%;
}
.figure:nth-child(5){
	top: 5%;
	left: 50%;
}
.figure:nth-child(6){
	top: 67%;
	left: 80%;
	color: var(--contrast-color);
}
.figure:nth-child(7){
	top: 80%;
	left: 40%;
}
.figure:nth-child(8){
	top: 95%;
	left: 90%;
	
}
.figure:nth-child(9){
	top: 40%;
	left: 40%;
	color: var(--contrast-color);
}
.figure:nth-child(10){
	top: 50%;
	left: 5%;
	color: var(--contrast-color);
}

	/*===============================================================*/
	.main_block{
		width: 100%;
		height: 100%;
		z-index: 2;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*===============================================================*/

	/*==========================About me=============================*/
	.aboutMe{
		width: 100%;
		height: 1500px;
		position: relative;
	}
	.word{
		transition: 1s ease;
		opacity: 0;
		margin-top: 50px;
		font-style: italic;
		font-size: calc(4*var(--ratio));
		font-weight: 700;
		color: var(--text-color);
		text-shadow: -4px -4px 8px var(--light-shadow-color), 4px 4px 8px var(--dark-shadow-color);
	}
	@keyframes word1_anim{
		to{
			stroke-dashoffset: 0;
		}
	}
	.photo{
		width: 238px;
		height: 238px;
		background: var(--main-color);
		border-radius: 50%;
		margin: 20px auto 0px;
		z-index: 4;
		position: relative;
		overflow: hidden;
		opacity: 0;
		box-shadow:
		0px 0px 0px var(--light-shadow-color), 
		0px 0px 0px var(--dark-shadow-color);
}
	
	.photo img{
		width: 88%;
		position: absolute;
		bottom: -8%;
		left: 50%;
		transform: translateX(-50%);
	}
	.card{
		background: var(--main-color);
		backdrop-filter: blur(8px);
		border-radius: 30px;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 47px 35px 47px;
		position: absolute;
		font-size: 20px;
		line-height: 30px;
		font-weight: 500;
		transition: opacity 1s ease, background 0.6s ease, box-shadow 0.6s ease;
		opacity: 0;
		box-shadow: 
		inset 0px 0px 0px var(--light-shadow-color), 
		inset 0px 0px 0px var(--dark-shadow-color);
	}
	.pers_inf{
		max-width: 555px;
		height: 457px;
		left: 93px;
		top: 430px;
	}
	.title{
		margin-top: 35px;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		margin-bottom: 29px;
	}
	.card span{
		margin-bottom: 30px;
	}
	.card li{
		line-height: 30px;
		font-weight: 500;
	}
	.card li:not(:last-child){
		margin-bottom: 30px;
	}
	.me{
		max-width: 555px;
		height: 398px;
		/* height: auto; */
		right: 93px;
		top: 630px;
	}
	.solid_vert{
		width: 16px;
		height: 322px;
		background: var(--main-color);
		margin: 0 auto;
		z-index: 4;
		position: absolute;
		left: 50%;
		top: 595px;
		transform: translateX(-50%);
		border-radius: 20px;
		box-shadow: 
		inset -4px -4px 8px var(--light-shadow-color), 
		inset 4px 4px 8px var(--dark-shadow-color);
	}
	.solid_hor{
		position: absolute;
		width: 30vw;
		height: 16px;
		top: -60px;
		z-index: 4;
		left: 50%;
		transform: translateX(-50%);
		background: var(--main-color);
		border-radius: 20px;
		box-shadow: 
		inset -4px -4px 8px var(--light-shadow-color), 
		inset 4px 4px 8px var(--dark-shadow-color);
	
	}
	.skills.card{
		height: fit-content;
		width: fit-content;
		left: 50%;
		transform: translateX(-50%);
		top: 730px;
		padding: 0 40px 20px 40px;
		position: relative;
	}
	.skills .title{
		width: 100%;
		display: block;
		white-space: nowrap;
	}
	.about_list{
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 5vw;
	}
	.back_about:first-child{
		opacity: 90%;
		position: absolute;
		right: -500px;
		top: 500px;
	}
	.back_about:nth-child(2){
		opacity: 90%;
		position: absolute;
		left: -280px;
		top: 350px;
	}
	@media (min-width: 481px) and (max-width: 1440px){
		.aboutMe{
			height: fit-content;
		}
		.for_adopt{
			display: flex;
			flex-direction: column;
			width: 80%;
			margin: 20px auto 0;
			align-items: center;
		}
		.card{
			position: static;
			margin-bottom: 30px;
			height: fit-content;
			width: fit-content;
		}
		.skills.card{
			transform: translate(0);
			position: static;
		}
		.solid_vert,.solid_hor{
			display: none;
		}
	}
	@media (min-width: 481px) and (max-width: 990px){
		.skills .title {
			white-space: inherit;
		}
		.skills ul:first-child {
			margin-right: 14px;
		}	
	}
	@media (max-width: 480px){
		.aboutMe{
			margin-top: 0px;
			height: fit-content;
		}
		/* .word{
			transform: scale(0.5);
			margin-left: -120px;
			margin-top: 0px;
		} */
		.for_adopt{
			display: flex;
			flex-direction: column;
			width: 80%;
			margin: 0 auto;
			align-items: center;
		}
		.card{
			position: static;
			margin-bottom: 30px;
		}
		.skills.card{
			transform: translateX(0);
			top: 0;
			left: auto;
		}
		.solid_vert,.solid_hor, .me{
			display: none;
		}
		.photo{
			width: 180px;
			height: 180px;
			margin-bottom: 20px;
		}
		.card{
			height: fit-content;
			font-size: 16px;
			padding: 0 30px 35px 30px;
		}
		.card .title{
			font-size: 24px;
			line-height: 130%;
			margin: 20px 0px 25px 0;
		}
		.card span{
			margin-bottom: 15px;
			text-align: center;
			line-height: 140%
		}
		.card li {
			line-height: 140%;
			font-weight: 500;
		}
		.card li:not(:last-child) {
			margin-bottom: 15px;
		}
		.tringle_about{
			position: absolute;
			top: 32%;
			left: -60%;
			z-index: 1;
		}
		.tringle_about img{
			transform: scale(0.7) rotate(20deg);
		}
		.circle_about{
			position: absolute;
			top: 45%;
			right: -60%;
			z-index: 1;
		}
		.circle_about img{
			transform: scale(0.5);
		}
		.skills.card {
			height: fit-content;
			width: fit-content;
		}
		.skills .title {
			white-space: inherit;
		}
		.about_list {
			flex-direction: column;
		}
		.skills ul:first-child {
			margin-bottom: 14px;
		}	
	}
	/*===============================================================*/

	/*==========================Qualities============================*/
	.qualities{
		position: relative;
		margin-top: 50px;
		padding: 0px 0px 100px;
		height: fit-content;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}
	.qualities::before,.qualities::after{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 60vw;
		height: 13px;
		border-radius: 10px;
		box-shadow: 
		-5px -5px 10px var(--light-shadow-color), 
		5px 5px 10px var(--dark-shadow-color);
	}
	.qualities::before{
		top: 0;
		left: 0;
	}
	.qualities__blocks{
		width: 100%;
		height: 1000px;
		margin-top: 60px;
		padding: 0 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.qualities__block{
		width: 100%;
		height: calc(100% / 3);
		display: flex;
		align-items: start;
		justify-content: start;
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
	}
	.qualities__block:nth-child(2n)>.qualities__figure{
		left: auto;
		right: 0;
	}
	.qualities__block:nth-child(2n)>.qualities__img{
		left: auto;
		right: 240px;
	}
	.qualities__block:nth-child(2n)>.qualities__info{
		left: auto;
		right: -120px;
	}
	.qualities__block:last-child>.qualities__img{
		top: 125px;
		left: 250px;
	}
	.qualities__img{
		opacity: 0;
		position: absolute;
		top: 110px;
   		left: 240px;
		filter: drop-shadow(-4px -4px 4px var(--light-shadow-color)) drop-shadow(4px 4px 4px var(--dark-shadow-color));
		transition: opacity ease 0.6s 1s;
	}
	.qualities__figure{
		position: absolute;
		left: 0;
		top: 0;
		stroke-dashoffset: 700;
		stroke-dasharray: 700;
		/* animation: qualities 2s ease 3s forwards; */
		filter: drop-shadow(-10px -10px 10px var(--light-shadow-color)) drop-shadow(10px 10px 10px var(--dark-shadow-color));
	}
	.qualities__info{
		opacity: 0;
		position: absolute;
		left: -120px;
    	top: 130px;
		width: 295px;
		height: auto;
		transition: opacity ease 0.6s 1s;
	}
	.qualities__title{
		font-weight: 700;
		font-size: 32px;
		/* font-size: calc(1.5 * var(--ratio)); */
		text-align: center;
		margin-bottom: 15px;
	}
	.qualities__subtitle{
		font-weight: 500;
		font-size: 20px;
		/* font-size: calc(1 * var(--ratio)); */
		text-align: center;
		line-height: 30px;
	}

	@keyframes qualities{
		0%{
			stroke-dashoffset: 700;
		}
		100%{
			stroke-dashoffset: 0;
		}
	}
	
/*===============================================================*/

/*==========================Portfolio============================*/
.portfolio{
	width: 100%;
	height: auto;
}
.portf__frame{
	margin: 55px auto 0;
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.portf__block{
	width: 100%;
	padding: 53px 69px;
	display: flex;
	flex: 1 1 100%;
	justify-content: space-between;
	align-items: start;
	flex-wrap: nowrap;
	gap: 50px;
	transition: opacity 1s ease;
	opacity: 0;
}
.portf__block:nth-child(2n)>.portf__card{
	order: 1;
}
.portf__card{
	width: 50%;
	height: calc(16*var(--ratio));
	/* height: 390px; */
	background: var(--main-color);
	border-radius: 40px;
	position: relative;
	box-shadow: 
	0px 0px 0px var(--light-shadow-color), 
	0px 0px 0px var(--dark-shadow-color);
	transition: box-shadow 0.6s ease, opacity 1s ease, background 0.6s ease;
	opacity: 0;
	
}
.portf__card::before,
.portf__card::after{
	content: '';
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	position: absolute;
	background: var(--main-color);
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
    transition: opacity 0.6s ease 15s, background 0.6s ease, filter 0.6s ease;
}
.portf__card::after{
	z-index: 10;
	/* background: var(--contrast-color); */
	filter: grayscale(1);
	border-radius: 30px;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.portf__block:nth-child(1) .portf__card::after{
	background-image: url("../img/portfolio/img1.jpeg");
	background-size: cover;
}
.portf__card:hover::after{
	filter: grayscale(0.2);
}
.portf__block:nth-child(2) .portf__card::after{
	background: url("../img/portfolio/img2.jpeg");
	background-size: cover;
}
.portf__block:nth-child(3) .portf__card::after{
	background: url("../img/portfolio/img3.jpeg");
	background-size: cover;
}
.portf__block:nth-child(4) .portf__card::after{
	background: url("../img/portfolio/img4.jpeg");
	background-size: cover;
}
.portf__block:nth-child(5) .portf__card::after{
	background: url("../img/portfolio/img5.jpeg");
	background-size: cover;
}
.portf__block:nth-child(6) .portf__card::after{
	background: url("../img/portfolio/img6.jpeg");
	background-size: cover;
}

.portf__card:hover::before {
	cursor: pointer;
	opacity: 0;
	transition: 0.5s ease;
	/* background: var(--contrast-color);
	mix-blend-mode: multiply; */
}

.portf__desc{
	width: 50%;
	padding: 0 5vw;
	text-align: center;
}
.subtitle{
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}
.portf__frame .button_header{
	top: 0;
	margin-top: 20px;
}
/*=============================================================*/

/*=========================Effects=============================*/
.effects{
	width: 100%;
	height: auto;
	position: relative;
}
.effects__block{
	display: flex;
	margin: 55px 0;
	padding: 10px 50px;
	flex: 1 1 100%;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	text-align: center;
}
.effects__desc{
	width: 100%;
	/* margin-top: 100px; */
	padding: 0 5vw 0 0;
	display: flex;
    flex-direction: column;
    align-items: center;
	gap: 4vh;
}
.effects__desc .title{
	margin-bottom: 0;
}
.effects__desc .button_header{
	top: 0;
}
.effects__cards{
	width: 100%;
	height: auto;
	/* background: var(--contrast-color ); */
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 
	-15px -15px 30px var(--light-shadow-color), 
	15px 15px 30px var(--dark-shadow-color);
	transition: background 0.6s ease, box-shadow 0.6s ease;
	position: relative;
}
.effects__card{
	width: calc(100% / 5);
    height: calc(var(--ratio) * 20 / 5);
	background: var(--main-color);
	opacity: 1;
	transition: opacity 4s ease 8s, background 0.6s ease;
	position: relative;
	z-index: 5;
}
.effects__card:hover{
	opacity: 0;
	transition: 0s ease;
}
.effects__card::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0.1vmax;
	height: 1.3vmax;
	background: var(--text-color);
	border-radius: 10px;
	transform: translate(-50%,-50%);
}
.effects__card::after{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1.3vmax;
	height: 0.1vmax;
	background: var(--text-color);
	border-radius: 10px;
	transform: translate(-50%,-50%);
}
canvas{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
  background: var(--contrast-color);
  z-index: 3;
}
/*=============================================================*/

/*==========================Social=============================*/
.social__blocks{
	margin-top: 100px;
	width: 100vw;
	height: calc(100vh - 150px);
	display: flex;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 30;
	overflow: hidden;
}
.social__block{
	width: calc(100vw + 10px);
	height: calc(100% / 4);
	padding: 0px 30vw 0px;
	display: flex;
	align-items: center;
	justify-content: start;
	position: relative;
	background: var(--main-color);
	box-shadow: 
	inset -8px -8px 20px var(--light-shadow-color), 
	inset 8px 8px 20px var(--dark-shadow-color);
	cursor: auto;
}
.social__block:nth-child(2n){
	justify-content: end;
}
.social__img_hover{
	height: calc((100vh - 200px) / 4 - 40px);
	width: calc((100vh - 200px) / 4 - 40px);
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	box-shadow: 
	0px 0px 0px var(--light-shadow-color), 
	0px 0px 0px var(--dark-shadow-color);
	border-radius: 25px;
}
.social__img_hover:hover{
	box-shadow: 
	-5px -5px 14px var(--light-shadow-color),
	7px 7px 10px var(--dark-shadow-color);
	cursor: pointer;
}
.social__img{
	position: relative;
	width: auto;
	height: 80%;
}

.social__block::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: auto;
	right: 0;
	display: block;
	position: absolute;
	background: var(--main-color);
	z-index: 20;
	transition: 0.8s ease;
}
.social__block:nth-child(2n-1)::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: auto;
}
.social__block:nth-child(2n).social__block_active::before{
	width: 0%;
	left: 0;
}
.social__block:nth-child(2n-1).social__block_active::before{
	width: 0%;
	right: 0;
	left: auto;
}
@keyframes social__animation{
	to{
		transform: translateX(0px);
	}
}

/*===========================================================*/

/*=========================Footer============================*/
footer{
	margin-top: 30px;
	background: var(--main-color);
	width: 100%;
	height: fit-content;
	z-index: 1;
	padding: 70px 0px 46px;
	position: relative;
}
footer::before{
	content: '';
	position: absolute;
	display: block;
	top: 20px;
	left: 0;
	width: 105%;
	height: 20px;
	z-index: 10;	
	box-shadow: 
	inset -5px -5px 10px var(--light-shadow-color), 
	inset 5px 5px 15px var(--dark-shadow-color);
	background: var(--main-color);
}
footer .container{
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.footer_social{
	display: flex;
	width: 27%;
	justify-content: space-between;
}
#footer_data{
	color: var(--text-color);
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 25px;
}

@media (max-width: 1240px) {
	.qualities__title, .title{
		font-size: calc(1.7 * var(--ratio));
	}
	/* .qualities__subtitle{
		font-size: calc(1 * var(--ratio));
	} */
	.portf__block{
		flex-direction: column;
		align-items: center;
		padding: calc(1 * var(--ratio));
	}
	.portf__card{
		order: 1;
		width: calc(33 * var(--ratio));
		height: calc(20 * var(--ratio));
	}
	.portf__desc{
		width: 90%;
		padding: 0;
	}
}

@media (max-width: 960px){
	.effects__block{
		flex-direction: column;
	}
	.effects__desc{
	width: 100%;
	}
	.portf__card.portf_portf1:before{
		font-size: calc(9 * var(--ratio)) !important;
	}
	.portf__card.portf_portf2:before,
	.portf__card.portf_portf3:before{
		font-size: calc(6 * var(--ratio)) !important;
	}
}


@media (max-width: 600px){
	.qualities__blocks{
		padding: 0px 3vw;
		height: 100%;
		min-height: 800px;
		max-height: 1000px;
	}
	.qualities__block{
		justify-content: center;
		flex: 1 0;
	}

	.qualities__figure{
		width: calc(20 * var(--ratio));
		/* height: calc(20 * var(--ratio)); */
		left: auto;
		top: auto;
		right: auto !important;
	}
	.qualities__block:nth-child(2n)>.qualities__img{
		left: auto;
		right: 52vw;
		top: 53%;
	}
	.qualities__block:last-child>.qualities__img{
		top: 53%;
		left: 52vw;
	}
	.qualities__img{
		top: 53%;
		left: 53vw;
		width: calc(4.5 * var(--ratio));
		height: calc(4.5 * var(--ratio));
	}
	.qualities__info{
		position: relative;
		left: 10px !important;
		right: 0 !important;
		top: 50px;
	}
	.qualities__subtitle{
		display: none;
	}
	
}

@media (max-width: 480px){
	@keyframes logoSwap{
		to{
			transform: translateX(0%) translateY(-30vh) scale(0.6);
			transition: transform 2s ease;
			opacity: 0.8;
		}	
		}
		.social,nav{
			display: none;
		}
		.header_info{
			top: 35vh;
			left: 50vw;
			transform: translateX(-50%);
		}
		.header_info .header_info_block{
			opacity: 0;
			animation: nav_animation 2s ease-in-out 3.5s forwards,
			header_info_animation 2s ease 3s forwards;
		}

		.portf__card{
			width: 90vw;
			height: 60vw;
		}
		.portf__card.portf_portf1:before{
			font-size: 26vw !important;
		}
		.portf__card.portf_portf2:before,
		.portf__card.portf_portf3:before{
			font-size: 16vw !important;
		}
	}