@font-face {
  font-family: 'portfolio';
  src:  url('fonts/portfolio.eot?m8onym');
  src:  url('fonts/portfolio.eot?m8onym#iefix') format('embedded-opentype'),
    url('fonts/portfolio.ttf?m8onym') format('truetype'),
    url('fonts/portfolio.woff?m8onym') format('woff'),
    url('fonts/portfolio.svg?m8onym#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.portf_portf1:before,
.portf_portf2:before,
.portf_portf3:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    z-index: 12;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portf__card.portf_portf1:before {
  content: "\e900";
  color: var(--text-color);
  font-size: 160px;
  /* font-size: calc(8 * var(--ratio)); */
}
.portf__card.portf_portf2:before {
  content: "\e901";
  color: var(--text-color);
   font-size: 100px;
   left: 20px;
   /* font-size: calc(5 * var(--ratio)); */
}
.portf__card.portf_portf3:before {
  content: "\e902";
  color: var(--text-color);
   font-size: 100px;
   /* font-size: calc(5 * var(--ratio)); */
}
